<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/css/app.css" rel="stylesheet">
    </head>
    <body class="home">
        <div class="container">
            <div class="login-page clearfix">
              <h1 id="logo"><img src="https://nordfk.se/static/images/elements/site-logo_new.svg" /></h1>
              <h1>Trade Compliance Monitor</h1>
              <div class="login-box">
                <a id="qsLoginBtn" class="btn btn-primary btn-lg btn-login btn-block" href="/login">Log In</a>
              </div>
            </div>
        </div>
    </body>
</html>
